<ion-header>
  <ion-navbar color="primary">
    <ion-title>Dashboard</ion-title>
    
  </ion-navbar>
</ion-header>
<ion-content class="container">
  <div class="header" *ngIf="user._user">
    <h1>{{user._user.name}}</h1>
    <h2>{{user._user.position}} - <small>{{user._user.country}}</small></h2>
    <img src="./assets/img/light-bulb.svg" class="profile" (click)="goEvaluation()"/>
    <div style="position:relative;top:70px;font-size:10px" > Click to Evaluate Facility</div>
  </div>
  <div class="content">
    <!-- <h3>Evaluations</h3>
    <p>Scroll down to see your recent evaluations provided  to the company.
    
    </p> -->
  <button ion-button (click)="goProfile()">Profile</button>
  <ion-list *ngIf="evaluations">
      <ion-item *ngFor="let data of evaluations | async">
        <ion-avatar item-start>
          <img src="./assets/img/light-bulb.svg">
        </ion-avatar>
        <h2>{{data.location_info.business_name}}</h2>
        <p><ion-icon name="ios-albums-outline"></ion-icon> {{data.rooms.length }} Room</p>
        <button ion-button clear item-end (click)="navCtrl.push('EvalutionDetailPage',data)">View</button>
        
      </ion-item>
    </ion-list>  

    <!-- <div class="social">
      <ul>
        <li>
          <a href="#" class="zocial-facebook"></a>
        </li>
        <li>
          <a href="#" class="zocial-twitter"></a>
        </li>
        <li>
          <a href="#" class="zocial-instagram"> </a>
        </li>
      </ul>
    </div> -->
  </div>
</ion-content>

