<ion-header  style="background-color:white">
  <ion-navbar >
      <ion-buttons left>
          <button ion-button icon-only menuToggle><ion-icon name="menu"></ion-icon></button>
        </ion-buttons>
    <ion-title style="font-style:italic">Dashboard</ion-title>
    
  </ion-navbar>
</ion-header>
<ion-content class="container">
  <div class="header" *ngIf="user._user">
      <img src="{{user._user.avatar}}" class="profile" (click)="goProfile()"/>
    <h1>{{user._user.name}} <h4 class="h4x"> {{user._user.country}}</h4></h1>
   </div>
   <hr class="breakline">
   <button ion-button (click)="goEvaluation()">Make Evaluation</button>

  <div class="content">
    <h3 class="bannerx">Previous evaluations</h3>
    <p class="bannerx-text">Scroll down to see your recent evaluations provided  to the company.
    
    </p>
  <ion-list *ngIf="evaluations">
      <ion-item *ngFor="let data of evaluations | async" class="itemx">
        <ion-avatar item-start>
          <img src="./assets/img/light-bulb.svg">
        </ion-avatar>
        <h2>{{data.location_info.business_name}}</h2>
        <p><ion-icon name="ios-albums-outline"></ion-icon>  <small>{{data.location_info.person}}</small></p>
        <button ion-button clear item-end (click)="navCtrl.push('EvalutionDetailPage',data)">{{getDate(data.location_info.date) }}</button>
        
      </ion-item>
    </ion-list>  

    <!-- <div class="social">
      <ul>
        <li>
          <a href="#" class="zocial-facebook"></a>
        </li>
        <li>
          <a href="#" class="zocial-twitter"></a>
        </li>
        <li>
          <a href="#" class="zocial-instagram"> </a>
        </li>
      </ul>
    </div> -->
  </div>
</ion-content>

